[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/gog43"]
	path = lib/gog43
	url = git@github.com:hingler/gog43.git
[submodule "lib/sdf-jak"]
	path = lib/sdf-jak
	url = git@github.com:hingler/sdf-jak.git
